pi-gen-overlay/stage2/10-bigclown/files/flows_hub.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1"},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6c6622f5.06be2c","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"#","qos":"2","broker":"29fba84a.b2af58","x":290,"y":40,"wires":[["ce9f9f18.4bad2"]]},{"id":"ce9f9f18.4bad2","type":"debug","z":"2c41a2bd.aa36ae","name":"","active":true,"console":"false","complete":"false","x":450,"y":40,"wires":[]},{"id":"9d87946d.c16368","type":"inject","z":"2c41a2bd.aa36ae","name":"All gateway info","topic":"gateway/all/info/get","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":300,"y":100,"wires":[["352530b7.c8129"]]},{"id":"aa46a73.6976058","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"","qos":"","retain":"","broker":"29fba84a.b2af58","x":350,"y":320,"wires":[]},{"id":"1432134c.59410d","type":"inject","z":"2c41a2bd.aa36ae","name":"Pairing mode start","topic":"gateway/usb-dongle/pairing-mode/start","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":320,"wires":[["aa46a73.6976058"]]},{"id":"726aa187.fc5d3","type":"inject","z":"2c41a2bd.aa36ae","name":"Pairing mode stop","topic":"gateway/usb-dongle/pairing-mode/stop","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":360,"wires":[["aa46a73.6976058"]]},{"id":"a5f2ac46.07f19","type":"inject","z":"2c41a2bd.aa36ae","name":"List of paired nodes","topic":"gateway/usb-dongle/nodes/get","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":260,"wires":[["aa46a73.6976058"]]},{"id":"4e394b6f.16ff84","type":"inject","z":"2c41a2bd.aa36ae","name":"purge all nodes","topic":"gateway/usb-dongle/nodes/purge","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":420,"wires":[["aa46a73.6976058"]]},{"id":"63ee4571.7e624c","type":"comment","z":"2c41a2bd.aa36ae","name":"usb-dongle","info":"","x":100,"y":220,"wires":[]},{"id":"547d169.ddad6e8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"","qos":"","retain":"","broker":"29fba84a.b2af58","x":810,"y":320,"wires":[]},{"id":"34c49fca.7c4e4","type":"inject","z":"2c41a2bd.aa36ae","name":"Pairing mode start","topic":"gateway/core-module/pairing-mode/start","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":610,"y":320,"wires":[["547d169.ddad6e8"]]},{"id":"d5754a85.4fd4e8","type":"inject","z":"2c41a2bd.aa36ae","name":"Pairing mode stop","topic":"gateway/core-module/pairing-mode/stop","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":610,"y":360,"wires":[["547d169.ddad6e8"]]},{"id":"507c6f20.0b09c","type":"inject","z":"2c41a2bd.aa36ae","name":"List of paired nodes","topic":"gateway/core-module/nodes/get","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":610,"y":260,"wires":[["547d169.ddad6e8"]]},{"id":"2386f76f.d3c6f8","type":"inject","z":"2c41a2bd.aa36ae","name":"purge all nodes","topic":"gateway/core-module/nodes/purge","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":600,"y":420,"wires":[["547d169.ddad6e8"]]},{"id":"352530b7.c8129","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"","qos":"","retain":"","broker":"29fba84a.b2af58","x":490,"y":100,"wires":[]},{"id":"e47a91c5.af9a","type":"comment","z":"2c41a2bd.aa36ae","name":"core-module","info":"","x":570,"y":220,"wires":[]}]